<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="GismeteoURL" value="https://www.gismeteo.ua"/>
    </appSettings>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=WeatherProrok-test;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>